img {
  width: 300px;
  height: 200px;
  display: inline-block;
  border-radius: 20%;
}

body {
  background-color: #98acf8;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: #0a043c;
}

h2 {
  color: #120078;
}

p {
  color: #00303f;
  font-weight: bold;
}
